**/.dockerignore
**/.git
**/.gitignore
**/.toolstarget
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/azds.yaml
**/bin
**/charts
**/node_modules
**/npm-debug.log
**/obj
LICENSE
README.md